html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #646464;
	scrollbar-dark-shadow-color: #646464;
}

.bg-app {
	background-color: #222;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #222; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #333;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; }
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

.btn-app {
	background: #333 !important;
	color: rgba(255,255,255,0.8) !important;
	border: 0;
	opacity: 0.8;
}
.btn-app:hover {
	color: #fff;
	opacity: 1;
}

#top-progress #player-progress {
	background: #0052D4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main,
.navbar-toggler-icon,
.navbar-nav .nav-link
{
	color: rgba(255,255,255,0.5);
}

#navbar #top-nav {
	background: #222 !important;
}
#navbar .nav-link:hover {
	color: rgba(255,255,255,0.8) !important;
}
h1, h2, h3, h4, h5 {
	color: rgba(255,255,255,0.8) !important;
}
.track-row, .radio-row .station-name {
	color: rgba(255,255,255,0.6) !important;
	opacity: 0.9;
}
.radio-row .location {
	color: rgba(255,255,255,0.8) !important;
	opacity: 0.6;
}
.track-row.active {
	color: rgba(255,255,255,1);
	opacity: 1;
}

html, main, #navbar, #top-progress .progress {
	background-color: #222 !important;
}

input {
	color: rgba(255,255,255,0.6) !important;
	background-color: #222 !important;
	border-color: #555 !important;
}

#player #controls .btn svg {
	fill: rgba(255,255,255,0.7);
	stroke: rgba(255,255,255,0.4);
}

#player #cover-popover {
	background-color: #222 !important;
}

#player .full-cover {
	background-color: #222 !important;
}

#player {
	border-top: 0;
}

#navbar {
	border-bottom: 0;
}

#top-progress {
	background-color: #333;
}

#top-progress .progress {
	border: 1px solid #222;
}

#top-progress #preload-progress {
	background-color: #444;
}
