html {
	height: 100%;
}

body {
	color: #222;
}

a:link {
  color: #222;
}

a:visited {
  color: #222;
}

a:hover {
  color: #222 !important;
}

a:active {
  color: #222;
}

.request-error {
	font-size: 0.95rem;
	padding: 3px;
	color: #ff0000;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ccc;
  box-shadow: none !important;
  outline: none;
}

#form-sign-in, #form-register {
	width: 320px;
}
