@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
	overflow: hidden;
	overscroll-behavior: none;
}

body {
	height: 100%;
}

main {
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	color: #444;
	min-width: 375px;
	height: 100%;
}

main .sticky-top {
	top: -12px;
}

#main {
	overflow: auto;
	padding-top: 10px;
}

#main>section {
	padding: 10px;
}

button:focus {
	outline: none !important;
	box-shadow: none !important;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5 {
	font-family: "Russo One", sans-serif;
	color: #444;
}

.bg-app {
	background-color: #fff;
}

.btn-app {
	background: gainsboro !important;
	color: #555;
	border: 0;
	opacity: 0.8;
}

.btn-app:hover {
	opacity: 1;
	color: #222;
}

.smooth {
	transition: all 1s ease-in;
}

#navbar {
	margin: 0;
	padding: 5px 0;
}

#navbar #top-nav {
	font-size: 0.9rem;
}

#navbar .navbar-brand {
	font-family: "Russo One", sans-serif;
	font-size: 1.4rem;
	cursor: pointer;
	color: #444;
}

#navbar .nav-item {
	margin: 0 10px;
}

#navbar .nav-item.active {
	font-weight: 800;
}

.track-row {
	opacity: 0.8;
	outline: none !important;
	box-shadow: none !important;
	user-select: none;
	cursor: pointer;
	font-size: 0.9rem;
}

.track-row.active {
	opacity: 1;
	font-weight: bold;
}

.track-row .cover {
	border-radius: 4px;
	height: 28px;
	width: 28px;
}

#player {
	border-top: solid 1px #ddd;
}

#player .cover {
	border-radius: 4px;
	height: 50px;
	width: 50px;
	margin: 5px;
}

#player #cover-popover {
	border: 0;
}

#player .full-cover {
	border-radius: 8px;
	height: 256px;
	width: 256px;
	margin: 0;
	padding: 0;
}

#player #controls .btn svg {
	fill: #444;
	width: 25px;
	height: 25px;
}

#player #controls .btn.active svg {
	stroke: #00a30e;
	fill: #00a30e;
}

#top-progress {
	margin-bottom: 5px;
}

#top-progress .progress {
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	height: 8px;
	border-radius: 0;
}

#top-progress #player-progress {
	background: #f12711;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#top-progress #player-progress.disabled {
	background: #aaa;
}

#top-progress #preload-progress {
	background: #ddd;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.radio-row .cover {
	border-radius: 5px;
	height: 38px;
	width: 38px;
	margin-right: 5px;
}

.radio-row .station-name {
	font-size: 1.05em;
	color: #666;
}

.radio-row .location {
	font-size: 0.85em;
	color: #777;

}

.podcast-row .cover {
	border-radius: 5px;
	height: 54px;
	width: 54px;
	margin-right: 5px;
}

@media (max-width: 575.98px) {
	html {
		font-size: 1.2rem;
	}
}
